<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="link icon-only open-panel"> <i class="fa fa-bars"></i></a></div>
    <div class="center sliding">About Me</div>
  </div>
</div>
<div class="pages">
  <div data-page="about" class="page">
    <div class="page-content">
      <header class="about"></header>
      <section class="aboutContent">
        <h2>A Little About Lauren</h2>
      </section>
    </div>
  </div>
</div>
