.socialLinks {
  margin: 25px 0 15px 0;
  padding: 0;
  list-style-type: none;

  li {
    width: 25%;
    float: left;
    display: inline;

    i {
      display: block;
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 3em;
    }
  }
}
