@font-face {
    font-family: 'Theano Didot';
    src: url('../fonts/TheanoDidot-Regular.ttf');
}

@font-face {
    font-family: 'Novecento WideDemiBold.otf';
    src: url('../fonts/Novecento WideDemiBold.otf');
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamNarrow-light.otf');
}
