nav {
  padding-top: 25px;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Gotham', sans-serif;
    color: #fff;

    li {
      width: 100%;
      height: 45px;
      line-height: 25px;
      margin-bottom: 5px;
      padding-left: 45px;
      font-size: 0.95em;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }
}

.navbar {
  background-color: $main;

  i,
  .center {
    color: #fff;
  }

  .center {
    font-family: 'Gotham', serif;
  }

  &:after {
    content: '';
    background-color: transparent;
    height: 0;
  }
}

header {
  background-image: url('../img/LLMc7498Bweb.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 450px;
  position: relative;

  img {
    display: block;
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    width: 70%;
    max-width: 800px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 768px) {
  header {
    img {
      width: 40%;
    }
  }
}
