.blogList {
  margin: 0;
  padding: 0;
  list-style-type: none;

  .blogItem {
    padding: 25px 0;

    p.dateTime {
      color: #999;
      width: 115px;
      margin: 0 auto;
      padding: 10px 0 20px 0;

      span {
        padding-left: 10px;
      }
    }

    img {
      display: block;
      width: 100%;
    }

    section.snippet {
      p {
        margin: 0;
      }
    }

    .readMore {
      font-family: 'Theano Didot';
      display: block;
      width: 50%;
      margin: 15px auto 0;
      border-bottom: 1px solid #ddd;
      font-size: 1.8em;
      padding-bottom: 10px;
      text-align: center;
    }

  }
}

.blog {

  img {
    display: block;
    width: 100%;
    margin-bottom: 25px;
  }

  p.dateTime {
    color: #999;
    width: 115px;
    margin: 0 auto;
    padding: 10px 0 20px 0;

    span {
      padding-left: 10px;
    }
  }

  section.snippet {
    p {
      margin: 0;
    }
  }
}
