//Third party requirements
@import 'framework7.ios.colors.min';
@import 'framework7.ios.min';
@import 'font-awesome.min';

//colour & mixin vars & fonts
@import 'vars';
@import 'fonts';

//elements & blocks
@import 'header';
@import 'posts';
@import 'contact';


body {
  background-color: #ffffff;
  line-height: 23px;
}

h2 {
  margin: 10px auto;
  width: 95%;
  text-align: center;
  font-family: 'Theano Didot';
  color: $main;
  font-size: 2.8em;
  line-height: 45px;
}

p {
  color: $main;
  font-family: 'Gotham';
}

a {
  color: inherit;
}

.page,
.pages {
  background-color: #fff;
}

section {
  padding: 15px;
}

.fa-long-arrow-left {
  font-size: 1.4em;
}

.popup {
  height: 30%;
  max-height: 30%;
  bottom: 0;
  top: initial;
  overflow: visible;
}

.trigger {
  position: relative;
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
  z-index: -99999;
  bottom: 200px;
  left: 0;
  right: 0;
}
