<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="link icon-only open-panel"> <i class="fa fa-bars"></i></a></div>
    <div class="center sliding">Around The World</div>
  </div>
</div>
<div class="pages">
  <div data-page="atw" class="page">
    <div class="page-content" id="atwContent">
      <main>
        <ul class="blogList" id="atwList"></ul>
      </main>
      <span class="trigger" id="atwTrigger"></span>
    </div>
  </div>
</div>
